* {
  font-family: 'Ubuntu Mono', ;
}

body {
  background: #9DB6CE !important;
  color: #333D48 !important;
  margin: auto;

}

#nav {
  list-style: none !important;
}
div.nav {
  background: #CEDAE6;
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
  border-width: thin;
  min-width: 160px;

  min-height: 50%;
  list-style: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

div.nav ul {
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;

}

div.header {
  color: #9DB6CE;
  position: relative;
  transition: all 300ms ease;
  animation: fade_in_out 4s 1;
  padding-left: 5%;
  padding-top: 5%;
}

div.name {
  padding-top: 4%;
  padding-bottom: 1%;
}

div.resume_1 {
  color: #333D48;
  -webkit-animation-delay: 2s;
  animation: fade_in 2s 1;
}

div.resume_2 {
  color: #333D48;
  @-webkit-animation-delay: 5s;
  animation: fade_in 4s 1;
}

div.resume_3 {
  color: #333D48;
  @-webkit-animation-delay: 5s;
  animation: fade_in 6s 1;
}
@-webkit-keyframes fade_in_out {
    0%   {left: -100px; color: #9DB6CE;}
    50%  {left: 0px; color: #333D48;}
    100%  {left: 75px; color: #9DB6CE;}
}
@-webkit-keyframes fade_in {
    0%   {left: 0px; color: #9DB6CE;}
    100%  {left: 100px; color: #333D48;}
}
