body {
  background: #9DB6CE;
  color: #333D48;
  padding: 5%;
  margin: auto;
  width: 70%;
}

div.header {
  color: #9DB6CE;
  position: relative;
  transition: all 300ms ease;
  animation: fade_in_out 5s 1;
}

div.resume {
  color: #333D48;
  @-webkit-animation-delay: -5s;
  animation: fade_in 8s 1;
}
@-webkit-keyframes fade_in_out {
    0%   {top: -100px; color: #FFFFFF;}
    50%  {top: -50px; color: #333D48;}
    100%  {top: 0px; color: #9DB6CE;}
}
@-webkit-keyframes fade_in {
    0%   {left: 0px; color: #9DB6CE;}
    100%  {left: 100px; color: #333D48;}
}
