* {
  font-family: 'Ubuntu Mono', ;
}

body {
  /*background: #9DB6CE !important;
  color: #333D48 !important;*/
  margin: 10%;
  padding-left: 10%;
  padding-right: 10%;

  justify-content: center;

}

/*
div.nav {
  background: #CEDAE6;
  border: solid;
  border-width: thin;
  list-style: none;
  min-height: 50px;
  max-height: 5%;


}

div.nav ul {
  width: 70%;
  margin: auto;

}
div.nav ul li {
  display: inline-block;
  float: left;
  width: 150px;*/

}



div.name {
  padding: 100px !important;
  float: left;
}

div.portrait {
  border-radius: 50%;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  background-image: url(https://avatars0.githubusercontent.com/u/3628288?v=3);
  background-size: 100%;
  margin: 3%;
  padding-right: 5%;
  display: inline-block;
  float: right;
}


@-webkit-keyframes fade_in_out {
    0%   {left: -100px; color: #9DB6CE;}
    50%  {left: 0px; color: #333D48;}
    100%  {left: 75px; color: #9DB6CE;}
}
@-webkit-keyframes fade_in {
    0%   {left: 0px; color: #9DB6CE;}
    100%  {left: 100px; color: #333D48;}
}
